.pelicula-lista-contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
}
/* Lista de peliculas y series */
.peliculasLista{
    width: 100%;
    min-height: 500px;
    background-color: #d1cfcf; 
    padding: 25px;
    margin: 10px;
    justify-content: center;
    border-radius: 10px;
}  
.cardGrid {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center; 
}

.listaSection {
    
    min-width: 500px;
    background: #7066de;
    padding: 15px;
    margin: 10px 15px;
    border-radius: 8px;
}

h2{
    color: #1b1b32;
    font-size: 32px;
    font-family: Roboto, sans-serif;
    text-align:  center;
    margin: 20px 0;
}

/* estilo modal notificacion */
.modal-exito{
    position: fixed;
    top: 20px;
    left: 50%;
    background-color: #1f6ad2;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    z-index: 9999;
    font-weight: bold;
    animation: fadeInOut 2.5s ease;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateX(-50%) translateY(-10px); }
    10% { opacity: 1; transform: translateX(-50%) translateY(0); }
    90% { opacity: 1; }
    100% { opacity: 0; transform: translateX(-50%) translateY(-10px); }
}

/* modal edicion */
.modal-edicion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* fondo oscuro con transparencia */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    margin-bottom: 100px;
}

.modal-contenido {
    background-color: #fff; /* fondo blanco o el que uses */
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    margin-bottom: 100px;
}

.mensaje-lista-vacia{
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    user-select: none;
}

.icono{
    text-align: center;
    width: 80%;
    color: #210461;
}