.pelicula-lista-contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
}
/* Lista de peliculas y series */
.peliculasLista{
    width: 100%;
    min-height: 500px;
    background-color: #d1cfcf; 
    padding: 25px;
    margin: 10px;
    justify-content: center;
    border-radius: 10px;
}  
.cardGrid {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center; 
}

.listaSection {
    
    min-width: 500px;
    background: #7066de;
    padding: 15px;
    margin: 10px 15px;
    border-radius: 8px;
}

h2{
    color: #1b1b32;
    font-size: 32px;
    font-family: Roboto, sans-serif;
    text-align:  center;
    margin: 20px 0;
}

/* estilo modal */
.modal-exito{
    position: fixed;
    top: 20px;
    left: 50%;
    background-color: #1f6ad2;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    z-index: 9999;
    font-weight: bold;
    animation: fadeInOut 2.5s ease;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateX(-50%) translateY(-10px); }
    10% { opacity: 1; transform: translateX(-50%) translateY(0); }
    90% { opacity: 1; }
    100% { opacity: 0; transform: translateX(-50%) translateY(-10px); }
}