.formulario {
    display: flex;
    flex-direction: column; /* ordena uno debajo del otro */
    align-items: center;
    gap: 12px; /* separa los campos */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 400px;
    margin: 0 auto; /* centra el form */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.inputs, select {
    width: 100%;
    font-size: 16px;
    padding: 12px;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);;
}

select {
    background-color: white;
    color: #333;
}

